<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello0</title>


    <!--<script src="/static/js/vue274.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
   <script>

    </script>

</head>
<body>
  <div class="root">
    <h1>{{name}}</h1>
  </div>

 <script type="text/javascript">
        Vue.config.productionTip = false
        new Vue({
           el:'.root',
           data:{
                 name:222
            }
         });

        console.log("hello1")
    </script>
</body>


</html>