<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ch101</title>
</head>
<body>

  <!--  HTML基础-->
  <!--  p表示一段，自动换行-->
  <p>这里是一个行</p>
  <p>这里是二个行</p>

  <!-- img表示一个图片， 注意alt 设置图片大小-->
  <img src="/static/imgs/img.png" alt="this is a pictre" width="15px" height="15px">

  <!--  br表示换行,单标签 h1-h6 -->
  <!--<h1>hello world  <br/> this is html </h1> 解释性-->
  <!--<h99>sfsfd</h99>-->
  <!-- ol 有序列表 type表示是何种表可,start表示从哪开始-->
  <ol type="I" start="1">
      <li>刘备</li>
      <li>张飞</li>
      <li>关习</li>
  </ol>

  <ul type="square">
      <li>banan</li>
      <li>apple</li>
      <li>orange</li>
  </ul>
   <!-- b表示加粗， i表示,u表示下划线-->
  <label><b>你</b><i>是</i><u>哪</u>里人？</label>
  <!--上标sup，下标sub-->
  <label>H<sub>2</sub>O</label>
   <!--大小符号-->
   <label>5&gt10</label>

   <label>版权符号&copy;&reg;</label>
   <br/>
   <!--不换行的块元素，意义在哪里-->
   <span>版权符号</span>

   <!-- href表示目标地址，href相对路径 target表示在哪里打开_blank在新窗口打开，_self,_parent,_top
     这个target是什么内容
    -->
   <a href="http://www.baidu.com" target="_top">baidu.com</a>







</body>
</html>