<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>功能区</title>

    <!--<link rel="stylesheet" href="/static/css/1.css"> -->
    <style>
        table{
            width: 400px;
            height: 100px;
            align: center;
        }
        tr{
            align: center;
        }
    </style>
</head>
<body>

   <table border="1" cellspacing="0px"  cellpadding="5px">
       <tr align="center" c>
           <th colspan="3">功能区</th>
       </tr>
       <tr align="center">
           <td><a href="fun1">功能1</a></td>
           <td><a href="fun2">功能2</a></td>
           <td><a href="fun3">功能3</a></td>
       </tr>
       <tr align="center">
           <td><a href="fun4">功能4</a></td>
           <td><a href="fun5">功能5</a></td>
           <td><a href="fun6">功能6</a></td>
       </tr>

       <tr align="center">
           <td><a href="fun7">功能7</a></td>
           <td><a href="fun8">功能8</a></td>
           <td><a href="fun9">功能9</a></td>
       </tr>

   </table>
</body>
</html>